/*
 * Custom CSS for my blog.
 */

table.footer_bar tbody tr td {
  text-align: center;
  vertical-align: middle;
}

table.footer_bar {
  table-layout: fixed;
}

/* Lines under images crediting the author */
.image-credits {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size: 75%;
}